// resources/sass/app.scss
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// Custom styles
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
}